.mainFormDiv {
    grid-template-columns: 15% 70% 15%;
    display: grid;
    margin-bottom: 70px;
}

form {
    margin-top: 15px;
    grid-column: 2/3;
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
}